<div class="well sidebar-nav sidebar-nav-fixed">
<div>
<img src="/media/img/head.jpg">
<h2 class="condensed"><a href="{{site.url}}/index.html">{{site.name}}</a></h2>
</div>
<div class="contact">
<p>
<ul class="unstyled">
<li><i class="icon-twitter"></i> <a href="https://twitter.com/ecmendenhall">@ecmendenhall</a></li>
<li><i class="icon-envelope"></i> <a href="mailto:e@cmendenhall.com">e@cmendenhall.com</a></li>
<li><i class="icon-phone"></i> +1 520.762.6286</li>
</ul>
</p>
</div>
{% block context_nav %}
{% endblock %}

{% block sitenav %}
{% include "skeleton/_site_nav.html" %}
{% endblock %}
</div>
