<div class="sidebar-nav sidebar-nav-fixed">
<div>
<img class="framed" src="/media/img/head.jpg">
</div>
<div>
<p>
<h2 class="condensed"><a href="{{site.url}}/index.html">{{site.name}}</a></h2>
</p>
</div>
<div class="contact">
<p>
<div>
<i class="icon-twitter"></i> <a href="https://twitter.com/ecmendenhall">@ecmendenhall</a>
</div>
<div>
<i class="icon-envelope"></i> <a href="mailto:e@cmendenhall.com">e@cmendenhall.com</a>
</div>
<div>
<i class="icon-phone"></i> +1 520.762.6286
</div>
</p>
</div>
{% block context_nav %}
{% endblock %}

{% block sitenav %}
{% include "skeleton/_site_nav.html" %}
{% endblock %}
</div>
