{% extends "_post.html" %}

{% hyde
    title: "DaveDaveFind"
    snip: "A simple search engine based on the web crawler developed in Udacity's CS101 course."
    created: 2012-04-01 01:25:20
    exclude: False
%}

{% block article %}
{% markdown %}

DaveDaveFind was built by @ecmendenhall with lots of help from Udacity and David Evans. You can learn to make your own search engine in CS101, learn about web applications like this one in CS253, read more about this project on its development blog, or see the code on GitHub.

The search crawler and web application were written in Python, using the Bottle web framework on Google App Engine. The crawler code uses BeautifulSoup to read HTML, Nikita the Spider to read robots.txt files, and the DuckDuckGo API to search Python documentation. Pages are styled with Twitter Bootstrap and enhanced by Glyphicons.

{% endmarkdown %}
{% endblock %}

