{% extends "_post.html" %}

{% hyde
    title: "Meme Pool"
    snip: "An image blog that evolves."
    created: 2012-03-18 01:25:20
    exclude: False
%}

{% block article %}
{% markdown %}

Evolution creates amazing and complex things from just three simple rules: selection, replication, and variation. I made Meme Pool as a small experiment to explore this idea. This Python code powers a Tumblr blog that "evolves" new images to post each day. I wrote it to learn a little bit about JSON and to practice interacting with an API. You can see the blog here.
{% endmarkdown %}
{% endblock %}

