{% extends "_post.html" %}

{% hyde
    title: "What.gd"
    snip: "A reminder to do good things and spend time wisely. What good will you do today?"
    created: 2011-10-20 01:25:20
    exclude: False
%}

{% block article %}
{% markdown %}

What.gd is a simple reminder to do good things and spend time wisely, inspired by Benjamin Franklin and Kevin Kelly. It generates a "life progress bar" and calculates the number of remaining days in your life based on standard actuarial tables. You can see it in action here. I wrote it as a simple web application to help learn Django programming. The user interface uses Twitter Bootstrap and tools from ubernostrum and Chris Coyier. This is my first Django application, created with lots of help from The Django Book.

{% endmarkdown %}
{% endblock %}

