.container-fluid {
    margin-top:30px;
}

.sidebar-nav-fixed {
     position:fixed;
     top:30px;
     width:160px;
     font-family: 'Futura';
     font-size: 110%;
}


@media (max-width: 762px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

.condensed {
    line-height: 26px;
}

.framed {
    background-color: #eeeeee;
    padding: 3px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.overlap {
    margin-bottom: -8px;
}

.content {
    background-color: white;
    padding: 20px;
}

.span10 {
    padding-left: 20px;
    padding-right: 20px;
}

.page-listing {
    list-style: none;
}

.footer {
    font-size: 70%;
    padding-right: 20px;
}

.footer p {
    opacity: .4;
}    

.footer p:hover {
    opacity: 1;
}

.nav > li:hover {
  opacity: 0.7;
}

.nav > li > a:hover {
  opacity: 1;
}

h1, h2 { 
    font-family: 'Lobster', 'Sansita One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0088cc;
 }

h3 {
    font-family: 'Futura';
    font-weight: lighter;
}

body {
    background-image: url('/media/images/cork3.png'); 
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content > ul {
    list-style: none;
}

.content img {
   border: 3px solid #eeeeee;
}


strong {
    font-size: 110%;
}

i {
    font-style: normal;
}

ul:last-child {
    padding-bottom: .5em;
}

ul:first-child {
    padding-top: .5em;
}